<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册 - 应用程序</title>
</head>
<body>

    <h1>注册 - 应用程序</h1>
    <form action="/api/open/v1/CreateApp" method="post">
        <p>
            <span>用户id：</span>
            <input name="user_id" type="text" value="" placeholder="请输入用户id"></input>
        </p>
        <p>
            <span>应用名称：</span>
            <input name="app_name" type="text" value="" placeholder="请输入应用名称"></input>
        </p>
        <input type="submit" >
    </form>

</body>
</html>