<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <title>
        {% block title %}
        LogService
        {% end %}

    </title>
    {% block stylesheet %}
        <link href="{{ static_url('css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ static_url('css/common.css') }}" rel="stylesheet">
        {% block private_stylesheet %}
        {% end %}
    {% end %}

</head>
<body>


<header>
    <div class='header-top'>
        <div class="container">
            <h2  class="blog-title"><a href="#">控制面板</a></h2>
            <p class="lead signature">

            </p>
        </div>
    </div>
    <nav class="navbar navbar-" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="/"><span class="glyphicon glyphicon-home"> 首页</span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                                    muna.name
                                    <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                            <li>
                                                <a href="#">
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                </a>
                            </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                                <img style="height: 18px" src="#">
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">发表博文</a></li>
                                <li><a href="#">管理博客</a></li>
                                <li><a href="#">退出登陆</a></li>
                            </ul>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 article">









                    <div >
                    <h1>目录</h1>
    <div>
        <a href="/register">用户注册</a>
    </div>
    <div>
        <a href="/create_app">创建应用</a>
    </div>

    <h2>采集维度：</h2>
    <div>
        <a href="https://github.com/qiuchenlong/TenLogService/blob/master/API.rst" target="_blank">1、识别用户</a>
    </div>
    <div>
        <span>2、自定义事件、事件时长统计</span>
    </div>
                    </div>


                            <div class="alert alert- }} alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            </div>
                </div>
                <div class="col-md-4 blog_nav">
                                    <div id="1" class="entry-box">
                                        <h5><strong>plugin.title</strong></h5>
                                    </div>
                                    <div class="entry-box">
                                        <h5><strong>博客统计</strong></h5>
                                        <p>
                                            今日PV：<span class="badge"></span>
                                            今日UV：<span class="badge"></span>
                                        </p>
                                        <p>
                                            博文总数：<span class="badge"></span>
                                            评论总数：<span class="badge"></span>
                                        </p>
                                        <p>
                                                <a href="#">source.name</a>：
                                                <span class="badge">source.articles_count</span>
                                        </p>
                                    </div>
                </div>
            </div>
        </div>
    </div>



<div class="footer">
    <p class="footer-content">
        @2017
        <a target="_blank" href="#">LogService</a>
        -厦门十全十美网络有限公司
            -<a href="">
            <span class="glyphicon glyphicon-wrench">10.com</span>
        </a>
    </p>
</div>
<div class="btn-group-vertical floatButton">
    <button id="goTop" class="btn btn-default" title="去顶部" type="button">
        <span class="glyphicon glyphicon-arrow-up"></span>
    </button>
    <button id="refresh" class="btn btn-default" title="刷新" type="button">
        <span class="glyphicon glyphicon-refresh"></span>
    </button>
    <button id="goBottom" class="btn btn-default" title="去底部" type="button">
        <span class="glyphicon glyphicon-arrow-down"></span>
    </button>
</div>






{% block base_script %}
    <script src="{{ static_url('js/jquery-2.2.1.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="//cdn.bootcss.com/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
    <script src="{{ static_url('js/floatButton.js') }}"></script>
{% end %}
{% block script %}
{% end %}

</body>
</html>