<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <title>
        {% block title %}
        LogService
        {% end %}
    </title>
    {% block stylesheet %}
        <link href="{{ static_url('css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ static_url('css/common.css') }}" rel="stylesheet">
        {% block private_stylesheet %}
        {% end %}
    {% end %}
</head>
<body>



</body>
</html>