<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogService | Ten Team</title>
    <link href="{{ static_url('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/common.css') }}" rel="stylesheet">
</head>
<body background="{{ static_url('images/background.jpg') }}">
<div class="container login-page">
    <div class="row">
        <div class="col-md-4 col-lg-offset-4 ">
                    <div class="alert alert- alert-dismissable" hidden>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    </div>
            <h3 class="text-center">欢迎注册 LogService</h3>
            <form class="form-horizontal" role="form" method="post" action="/register">
                <input type="hidden" name="next" value="">
                <div class="form-group">
                    <label class="col-sm-3 control-label" >用户名</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input class="form-control" id="username" name="username" placeholder="请输入您的用户名" required="" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" >手机号</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                            <input class="form-control" id="phoneNum" name="phoneNum" placeholder="请输入您的手机号" required="" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" >邮箱</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                            <input class="form-control" id="email" name="email" placeholder="请输入您的邮箱" required="" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" >密码</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input class="form-control" id="password" name="password" placeholder="请输入您的密码" required="" type="password" value="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-default">注册</button>
                        <button type="button" class="btn btn-default col-sm-offset-6" onclick="window.location.href='/login'">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{{ static_url('js/jquery-2.2.1.min.js') }}"></script>
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
</body>
</html>