<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogService</title>
</head>
<body>
    <h1>日志服务器 | 注册</h1>
    <form action="/api/open/v1/Register" method="post">
        <p>
            <span>手机号：</span>
            <input name="phoneNum" type="text" value="" placeholder="请输入手机号"></input>
        </p>
        <p>
            <span>用户名：</span>
            <input name="username" type="text" value="" placeholder="请输入用户名"></input>
        </p>
        <p>
            <span>邮箱：</span>
            <input name="email" type="text" value="" placeholder="请输入邮箱"></input>
        </p>
        <p>
            <span>密码：</span>
            <input name="password" type="text" value="" placeholder="请输入密码"></input>
        </p>
        <input type="submit" >
    </form>
</body>
</html>